*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    background-color:lightgray;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

a {
    margin: 10px;
    display: block;
}

/* ************************форма************************* */
form {
    background-color: #57d2f1;
    border-radius: 15px;
    width: 50vw;
    margin: 20px auto;
    padding: 20px;
}

input, textarea, select {
    width: 65%;
    height: 40px;
    border-radius: 10px;
    border-width: 0;
    display: block;
    margin: 10px auto;
}

button {
    width: 50%;
    background-color: #08708a;
    color: white;
    border-width: 0;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
}
