*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button{
        width: 132px;
        height: 35px;
        background-color: #2C3878;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content:center;
        align-items: center;
        border-radius: 10px;
        
    

}